.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

.App input[type="text"] {
  padding: 5px;
  width: 30%;
}

.App button {
  padding: 5px;
  margin-left: 5px;
}

.App video {
  width: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
